/* ########################### PROFILE */
.profile p {
    width: 100%;
    padding: 0 0 0.8vw 0;
    outline: none;
    border: none;
    text-transform: uppercase;
}

.profile.thumbnail {
    position: fixed;
    top: 9%;
    left: 0;
    padding: 1.5%;
    width: 25%;
    z-index: 1;
}

.profile.thumbnail h1 {
    font-size: calc(1.5rem + 20%);
}

/* .profile .btnDelete {
    top: 0;
    right: 0;
    text-align: right;
} */