.btnSingleWishlist {
    background-color: transparent;
    overflow: hidden;
    height: 20vw;
    min-width: auto;
    max-width: 100%;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}

.btnSingleWishlist:hover {
    background-color: #daedef;
}

.btnSingleWishlist span>p {
    padding-top: 4%;
}

.btnSingleWishlist:hover span {
    display: none
}

.btnSingleWishlist:hover:before {
    color: #fff;
    font-size: calc(0.8rem + 40%);
    font-weight: 400;
    content: "Show wishlist";
}

.coverletter {
    color: #f9f9f9;
    font-weight: 900;
    position: absolute;
    z-index: -1;
    font-size: 40rem;
}

.btnSingleWishlist .coverletter {
    top: -20%;
    left: -20%;
    font-size: calc(28rem + 40%);
}

.updateWishlist .coverletter {
    top: -20%;
    left: 0;
    font-size: calc(68rem + 40%);
}

/* ######### SINGLE WISHLISTS */
.singleWishlist .coverletter {
    top: -20%;
    left: -10%;
    font-size: calc(62rem + 40%);
}

/* ############ WISHLISTITEMS */

.wishlistItem .img {
    height: 30vh;
}

.singleWishlist .banner .btnContainer {
    padding-top: 1vw;
    width: 70%;
}

/* ##################### CREATE WISHLIST */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    transition: ease-in-out 0.2s;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 0;
    right: 10px;
    bottom: -5px;
    background-color: transparent;
    border: 1px solid #494949;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #fff;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0px;
    background-color: #494949;
    -webkit-transition: .4s;
    transition: .4s;
    top: 1px;
}

input:checked+.slider {
    background-color: #fff;
    border: 1px solid rgb(109, 122, 192);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(109, 122, 192);
}

input:checked+.slider:before {
    transform: translateX(31px);
    background-color: rgb(109, 122, 192);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.box {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    position: relative;
}

.box .label {
    align-self: center;
}