.bgPrompt {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
}

.prompt {
  display: grid;
  position: fixed;
  background-color: #fff;
  padding: 10%;
  width: 50vw;
  height: 60vh;
  left: 25vw;
  top: 20vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
}

.prompt button {
  min-width: auto;
}

.headerPrompt {
  justify-self: left;
  font-size: calc(1.2rem + 40%);
}

.message {
  position: fixed;
  width: 20vw;
  right: 2%;
  top: -43%;
  background-color: #acb6e5;
  display: grid;
  align-content: center;
  padding: 2vw 3vw;
  z-index: 2;
}

.message p {
  color: #fff;
}

.message.appear {
  animation-name: appear;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  transition: ease-in-out;
}

@keyframes appear {
  10% {
    top: 10%;
  }

  15% {
    top: 8%;
  }

  70% {
    top: 8%;
  }

  100% {
    top: -43%;
  }
}

.Loader-wrapper {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  max-height: 300vh;
  background-color: #daedef;
  display: grid;
  align-items: center;
  justify-items: center;
  top: 0;
  left: 0;
  z-index: 2;
}

#frmSearch {
  position: absolute;
  right: 2%;
  top: 7%;
}

#search {
  position: absolute;
  right: 10%;
  width: 3vw;
  height: 3vw;
  font-family: FontAwesome;
  background-color: #fff;
  text-align: center;
  border-radius: 2vw;
  border: none;
  z-index: 1;
  padding: 0;
  transition: 1s ease-in-out;
  border: 1px solid lightgrey;
}

#search::placeholder {
  color: #494949;
}

#search.active.activeResults {
  border: none;
}

#search.active {
  width: 20vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    ".SFNSText-Regular", sans-serif;
  text-align: left;
  padding: 0 2vw;
}

.searchResults {
  position: absolute;
  align-items: top;
  padding: 3vw 1vw;
  top: 6vw;
  z-index: 0;
  right: 2vw;
  width: 20vw;
  height: auto;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  color: rgb(90, 88, 88);
  z-index: 0;
  border-radius: 1px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
}

.searchResults p {
  padding: 1vw;
  cursor: pointer;
}

.searchResults .header {
  padding: 1vw 0;
  margin: 0 1vw;
  border-bottom: solid 1px #494949;
}