* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #494949;
  font-family: 'Lato', sans-serif;
}

/* ########################### BASIC HTML ELEMENTS */

#root {
  /* overflow: hidden; */
}

.App {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-rows: 0.5fr 10fr 1fr;
}

main {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

main.public {
  grid-template-columns: 3fr 1fr;
}

/* ########################### SECTIONS */

section {
  width: 100%;
  min-height: 50%;
  /* display: grid; */
  align-self: center;
  justify-self: center;
  padding: 10%;
  overflow: hidden;
}

/* ########################### FOOTER */

footer {
  text-align: center;
  align-self: flex-end;
  height: 100%;
  background-color: #f9f9f9;
  /* z-index: 1; */
}

@media screen and (max-width: 800px) {
  footer {
    padding: 5vw;
  }
}

/* ########################### NAVIGATION */

nav {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* z-index: 1; */
  height: 100%;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  nav {
    /* padding: 0 10%; */
  }
}

header {
  font-weight: 900;
  cursor: pointer;
  align-content: center;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

nav ul li,
header {
  display: grid;
  height: 100%;
  text-align: center;
}

nav ul li a {
  display: grid;
  height: 4vw;
  align-content: center;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 800px) {
  nav ul li a {
    height: 7vw;
  }
}

/* ########################### LINKS */

a {
  text-decoration: none;
  height: 100%;
}

a.active {
  color: #fff;
  background-color: #acb6e5;
}

nav a:hover {
  color: #fff;
  background-color: #acb6e5;
}

nav header a:hover {
  color: #494949;
  background-color: transparent;
}

/* ########################### BUTTONS */

button,
a.secondary {
  min-width: 20vw;
  max-width: 20vw;
  padding: 1vw 0;
  border: 1px solid lightgrey;
  outline: none;
  cursor: pointer;
  border-radius: 0.4vw;
  background-color: #f9f9f9;
  transition: 0.7s ease-in-out;
  text-transform: uppercase;
}

button:hover {
  background-color: lightgrey;
}

button:disabled {
  cursor: inherit;
}

button.active {
  background-color: #acb6e5;
  background-color: rgb(109, 122, 192);
  color: #fff;
  border-color: #acb6e5;
}

button.active:hover {
  background-color: #fff;
  color: #acb6e5;
}

button:disabled.active {
  background-color: #c9d1f7;
  border-color: #c9d1f7;
}

@media screen and (max-width: 800px) {
  button {
    padding: 2vw 0;
    border-radius: 0.8vw;
  }
}

button.secondary,
a.secondary {
  border: none;
  margin: 0;
  /* padding: 1vw 0; */
  background-color: transparent;
  width: 100%;
  border: none;
  min-width: auto;
  max-width: auto;
  /* padding: 0; */
  /* text-align: right; */
}

button.secondary.absolute {
  top: 0;
}

button.secondary.absolute.right {
  right: 0;
  text-align: right;
}

button.secondary.absolute.left {
  left: 10%;
}

button.secondary:hover,
a.secondary:hover {
  transform: scale(1);
  color: #acb6e5;
}

ul {
  list-style-type: none;
}


/* ########################### IMAGES */

.img {
  width: 100%;
  height: 100%;
}

.bgCover {
  background-size: 110%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-origin: content-box; */
  background-position: center;
  /* background-position-y: top; */
}

.bgContain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ########################### COLORS */

.bgGrey {
  background-color: #f9f9f9;
}

.bgGreen {
  background-color: #f2f8f6;
}

.bgBlue {
  background-color: #daedef;
}

.bgPurple {
  background-color: #acb6e5;
}

.colorWhite {
  color: #fff;
}

/* ########################## POSITIONS */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* ########################## GRIDS */

.flexEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.flexStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid {
  display: grid;
}

.gridTwoColumns {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 800px) {
  .gridTwoColumns {
    grid-template-columns: 1fr;
  }
}

.gridTwoThirds {
  grid-template-columns: 2fr 1fr;
}

.gridTwoThirdsAlmost {
  grid-template-columns: 1.5fr 1fr;
}

.gridThreeColumns {
  grid-template-columns: repeat(3, 1fr);
}

.gridFourColumns {
  grid-template-columns: repeat(4, 1fr);
}

.gridGapSmall {
  grid-gap: 2%;
}

.gridGapMedium {
  grid-gap: 10%;
}

.gridOneThird {
  grid-template-columns: 1fr 2fr;
}

.gridOneFourth {
  grid-template-columns: 1fr 4fr;
}

/* ########################### PADDING AND MARGIN */
.paddingSmall {
  padding: 1vw;
}

.paddingVerticalSmall {
  padding: 1vw 0;
}

.marginTopSmall {
  margin-top: 5%;
}

.marginTopMedium {
  margin-top: 10%;
}

/* ########################### TEXT ALIGNMENT */
.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

/* ########################### ALIGNMENT */
.alignItemsBottom {
  align-items: flex-end;
}

.alignItemsTop {
  align-items: flex-start;
}

.alignItemsCenter {
  align-items: center;
}

.alignSelfTop {
  align-self: flex-start;
}

.alignSelfBottom {
  align-self: flex-end;
}

.alignSelfCenter {
  align-self: center;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentLeft {
  justify-content: left;
}

.marginAuto {
  margin: 0 auto;
}

/* ########################### CONTAINERS */
.container {
  padding: 4% 0 0 0;
}

/* ########################### FORMS */

form {
  padding: 1% 0;
  min-height: 100%;
}

input {
  width: 100%;
  /* margin: 0.5vw 0 1vw 0; */
  padding: 0 0 0.8vw 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #494949;
  text-transform: uppercase;
  background-color: transparent;
}

label {
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.8vw 0;
}

@media screen and (max-width: 800px) {
  input {
    padding: 2vw 0;
    border-bottom: 0.2px solid #494949;
  }
}

/* ########################### FONTS AND HEADERS */

h1,
h2,
h3,
a,
button,
p,
strong {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: calc(2.5rem + 40%);
  font-weight: 900;
}

h2 {
  font-size: calc(0.8rem + 40%);
  font-weight: 400;
}

h3 {
  font-size: calc(0.5rem + 40%);
  font-weight: 700;
  text-transform: uppercase;
}

.placeHolderMessage h2 {
  font-size: calc(2rem + 40%);
}

.headerForm {
  text-align: center;
  padding-bottom: 4%;
}

button,
label,
input,
nav,
p,
a.secondary,
strong {
  font-size: calc(0.5rem + 30%);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: calc(1rem + 20%);
  }

  h2 {
    font-size: calc(0.8rem + 10%);
  }

  p,
  button,
  label,
  input,
  nav,
  strong {
    font-size: calc(0.3rem + 10%);
  }
}

/* ########################### PLACEHOLDER CONTENT STYLING */

.sepContainer.placeholderBtns {
  padding: 2% 10%;
}

.placeholderContainer {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 4vw 5vw;
  background-color: teal;
  color: #fff;

}

@media screen and (max-width:800px) {
  .sepContainer.placeholderBtns {
    padding: 10% 20%;
  }
}